@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #303030;
}
body > * {
  color: #fff;
}
section {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
    flex-wrap: wrap;
}
h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}
article {
  position: relative;
  border-radius: 5px;
  padding: 20px 20px 40px;
  border: 1px solid #fff;
  flex:1;
  margin: 10px;
  flex-wrap: wrap;
  /* align-self: normal; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
article .img-box{
  text-align: center;
}
article img{
  width: 200px;
  margin:0 auto;
  margin-bottom: 20px;
}
article h2 {
  margin: 0;
  text-transform: capitalize;
  font-size: 25px;
}

article p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
}

article button {
  padding: 8px 20px;
  color: #303030;
  margin-top: auto;
}
